.dashboard {
  min-height: 100vh;
  background-color:rgba(6, 1, 38, 0.669);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

/* New dashboard layout styles */
.dashboard-main-grid {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-template-rows: auto auto auto;
  gap: 32px;
}

.dashboard-top-row {
  gap: 25px;
  margin-bottom: 8px;
}
.dashboard-next-race {
  grid-column: 1;
  grid-row: 1;
}
.dashboard-latest-news {
  grid-column: 2;
  grid-row: 1/ span 2;
  background: rgba(20, 20, 40, 0.7);
  border-radius: 16px;
  padding: 16px 12px;
  overflow-y: auto;
}

.dashboard-middle-row {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  gap: 32px;
}
.dashboard-driver-standings,
.dashboard-constructor-standings {
  flex: 1;
  min-width: 0;
  background: rgba(20, 20, 40, 0.7);
  border-radius: 12px;
  padding: 16px 12px;
  max-height: 340px;
}
.dashboard-constructor-standings {
  flex: 1;
  min-width: 0;
  background: rgba(20, 20, 40, 0.7);
  border-radius: 12px;
  padding: 16px 12px;
  margin-left: 0;
}

.dashboard-bottom-row {
  grid-column: 1/ span 2;
  grid-row: 3;

}

.scrollable {
  overflow-y: auto;
}

.latest-news-placeholder,
.upcoming-events-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background: rgba(20, 20, 40, 0.7);
  border-radius: 12px;
  padding: 16px 12px;
}
