.nav-buttons{
    display: flex;
    gap: 30px;
}
.button{
  background:linear-gradient(
    to bottom right,
    rgb(114, 94, 94), 
    black
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
}

.button img {
  display: block;
}

.button:hover{
  background: linear-gradient(
    to bottom right,
    rgb(105, 39, 1), 
    black
  );
}