.constructor-standings-card {
  background: #111827;
  padding-top: 5px;
  border-radius: 12px;
  color: white;
}
.constructor-name{
    display: flex;
    flex-direction: column;
}
.header{
  font-size: 18px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  border-bottom: 1px solid #111827;
}
